.App {
	height: 100vh;
	position: relative;
	padding: 2rem;
}

h2 {
	padding: 1rem 0;
}

li {
	max-width: 60ch;
	line-height: 1.5;
	list-style-type: thai;
	list-style-type: -moz-thai;
	margin-bottom: 0.6rem;
}

code {
	display: inline-block;
	font-size: 0.9em;
	padding: 0.1rem 0.2rem;
	background:  #00193A;
	color: #eaeef3;
}

footer {
	position: absolute;
	bottom: 2rem;
}

footer a {
	color: #BF85F8;
}